.puzzle {
    gap: 100px;
    margin-bottom: 5px;
    height: 65vh;
}

.picboard {
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.result img{
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.pic-cell {
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
}

.image {
    object-fit: cover;
}

.timer {
    height: 50px;
    width: 240px;
    border: 1px solid red ;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.hours{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minutes{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seconds{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    height: 200px;
}

.watch {
    width: 100%;
    align-items: end;

}